.friendList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.friendListItems {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rightbarImgContainer {
  margin-right: 10px;
  position: relative;
}
.rightbarProfileImg {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

.rightbarOnline {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: yellowgreen;
  position: absolute;
  top: 8px;
  right: 0;
  border: 2px solid white;
}
